body {
    font-family: 'Tajawal', sans-serif;
    font-weight: 800;
}

h2, .h2 {
    font-size: 2rem;
    font-weight: 800;
}

header {
    background-image: url("../images/headerpic.png");
    text-align: center;
    height: 100vh;
    border-bottom-left-radius: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

header .overlay {
    /* content: ''; */
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to left, rgba(114, 88, 180, .7), rgba(115, 85, 175, .7));
    border-bottom-left-radius: 300px;
}

header img {
    width: 200px;
    margin-top: 150px !important;
}

header ul {
    display: inline-block;
}

header ul li {
    float: right;
    margin-right: 25px;
    font-size: 20px;
}

header ul li:first-child {
    list-style-type: none;
}

.header-slider {
    margin-top: -232px;
}

.slick-prev:before, .slick-next::before {
    color: #97cdcd;
    font-weight: bolder;
    font-family: 'Font Awesome\ 5 Free';
}

.slick-prev:before {
    content: "\f053";
}

.slick-next::before {
    content: "\f054";
}

/*================================= about ==========================*/

.img2 {
    width: 85%;
    margin-right: 15%;
    margin-top: -15%;
    border-radius: 50px;
}

.img1 {
    width: 25%;
    border-radius: 25px;
}

.img3 {
    width: 80%;
    border-radius: 50px;
}

.img4 {
    width: 25%;
    margin-right: -50px;
    margin-top: 125px;
    border-radius: 25px;
}

/* ============================download======================= */

.des {
    margin-top: 111px;
}

.store img {
    width: 111px;
    height: 50px;
}

/* ====================footer========================= */

footer {
    background-image: linear-gradient(to top, #7258b4, #7355af);
    border-top-right-radius: 300px;
}

.copy-right {
    font-size: 11px;
    color: #a8a8a8;
}
.social{
    width:25px;
}
/* ================================media======================= */

@media(min-width:768px) and (max-width:1025px) {
    header img {
        width: 200px;
        margin-top: 10% !important;
    }
    header {
        height: 60vh;
    }
}

@media(max-width:767px) {
    .header-slider {
        margin-top: -111px;
    }
    .slick-slide img {
        display: block;
        width: 75%;
    }
    footer p {
        /*width: 90%;*/
        margin: auto
    }
    header {
        height: 59vh;
        border-bottom-left-radius: 200px;
    }
    header .overlay {
        border-bottom-left-radius: 200px;
    }
    header img {
        margin-top: 50px !important;
    }
    header .overlay h3 {
        font-size: 20px;
        margin: 0 !important;
        margin-bottom: 1rem !important;
    }
    .des {
        margin-top: 75px;
    }
}