body {
    font-family: 'Tajawal', sans-serif;
    font-weight: 800;
    background: #EBEEFC;
}

h2,
.h2 {
    font-size: 2rem;
    font-weight: 800;
}

.ltr {
    direction: ltr;
}

.w-700 {
    font-weight: 700;
}

a:hover{
   text-decoration: none; 
}
/* =================================================== */

#product-slider img {
    min-height: 500px;
    object-fit: cover;
    object-position: center;
    height: 100%;
}

#product-slider .item,
#product-slider,
#product-slider.owl-carousel .owl-stage-outer,
#product-slider.owl-carousel .owl-stage,
#product-slider.owl-carousel .owl-item {
    height: 100%;
}

.product-card {
    background: #fff;
    /* transform: translateY(8%); */
    box-shadow: 0 4px 8px 0 rgba(253, 253, 253, 0.2), 0 6px 20px 0 rgba(89, 89, 89, 0.19);
}

.details {
    background: #F3F4FC;
    padding-right: 40px;
}

.details p {
    line-height: 1.9;
    font-weight: normal;
}

#product-slider .owl-dots {
    position: absolute;
    bottom: 10px;
    left: 15px;
}

#product-slider.owl-theme .owl-dots .owl-dot.active span,
#product-slider.owl-theme .owl-dots .owl-dot:hover span {
    background: #7174D6;
}

.store {
    text-align: left;
}

.store img,
.mob-store img {
    width: 150px;
    height: 60px;
}

.mob-store {
    display: none;
}

.logo {
    width: 150px;
}

.price {
    color: #6843b8;
}


/* ================================media======================= */

@media(max-width:767px) {
    .product-card {
        transform: translateY(0%);
        margin-bottom: 70px;
    }
    .store {
        display: none;
    }
    .mob-store {
        display: block;
        background: #ebeefc;
        position: fixed;
        bottom: 0;
        padding-bottom: 15px;
        padding-top: 15px;
        text-align: center;
        width: 100%;
        right: 0;
    }
    #product-slider img {
        min-height: 300px;
    }
}